{% extends 'index.html' %} {% load static %} {% block content %}
<h1 class="corr"> Donaciones</h1>

<ul class="galeria">
    <li>
        <a href="#img1"><img src="{% static 'img/donaciones/2016-10-18_11-22-26_5_619.png' %}"></a>
    </li>
    <li>
        <a href="#img2"><img src="{% static 'img/donaciones/2016-10-19_08-54-30_8_627.png' %}"></a>
    </li>
    <li>
        <a href="#img3"><img src="{% static 'img/donaciones/2016-10-19_09-51-25_11_631.jpg' %}"></a>
    </li>
    <li>
        <a href="#img4"><img src="{% static 'img/donaciones/2017-11-07_15-25-09_27_1787.jpg' %}"></a>
    </li>
    <li>
        <a href="#img5"><img src="{% static 'img/donaciones/5_logo-organizacion-dame-vida-tenjo_1000x666.png' %}"></a>
    </li>
    <li>
        <a href="#img6"><img src="{% static 'img/donaciones/Fundacion-YO-AMO-ANIMALES.jpg' %}"></a>
    </li>
</ul>

<div class="modal" id="img1">
    <div class="imagen">
        <a href="#img4">&#60;</a>
        <a href="#img1"><img src="{% static 'img/donaciones/2016-10-18_11-22-26_5_619.png' %}"></a>
        <a href="#img2">></a>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img2">
    <div class="imagen">
        <a href="#img1">&#60;</a>
        <a href="#img2"><img src="{% static 'img/donaciones/2016-10-19_08-54-30_8_627.png' %}"></a>
        <a href="#img3">></a>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img3">
    <div class="imagen">
        <a href="#img2">&#60;</a>
        <a href="#img3"><img src="{% static 'img/donaciones/2016-10-19_09-51-25_11_631.jpg' %}"></a>
        <a href="#img4">></a>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img4">
    <div class="imagen">
        <a href="#img3">&#60;</a>
        <a href="#img4"><img src="{% static 'img/donaciones/2017-11-07_15-25-09_27_1787.jpg' %}"></a>
        <a href="#img5">></a>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img5">
    <div class="imagen">
        <a href="#img4">&#60;</a>
        <a href="#img5"><img src="{% static 'img/donaciones/5_logo-organizacion-dame-vida-tenjo_1000x666.png' %}"></a>
        <a href="#img6">></a>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

<div class="modal" id="img6">
    <div class="imagen">
        <a href="#img5">&#60;</a>
        <a href="#img6"><img src="{% static 'img/donaciones/Fundacion-YO-AMO-ANIMALES.jpg' %}"></a>
        <div href="#img1">></div>
    </div>
    <p>Lorem ipsum dolor sit amet. Aut atque omnis et voluptas illum qui molestiae eius At repudiandae ex itaque rerum aut nisi autem est deleniti consectetur. Ea consequatur perferendis a provident rerum quo voluptatem libero et nisi ipsum! Ut eveniet earum
        ut sint accusamus sit ullam voluptatibus et architecto aliquid aut minus dignissimos hic quia reiciendis ab officiis corrupti? Et ipsa itaque est explicabo dolorum aut illum animi est dicta dolor et tempore temporibus sit nihil nulla 33 magnam
        aspernatur. Vel magnam delectus ut veritatis ducimus ad officia numquam vel excepturi aspernatur et blanditiis quasi. Ut ipsum eos harum dignissimos sit amet quasi est odio quisquam. Et quis enim sit culpa accusantium aut enim molestiae eos aspernatur
        sapiente sed quas quod qui sequi illum et illum eius!</p>
    <a class="cerrar" href="">X</a>
</div>

{% endblock %}